*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: #8a2be2;
}

main{
    background-color: burlywood;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px #000000cd;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: rgb(58, 0, 112);
    text-shadow: 2px 2px 8px #000000cd;;
}
img.mylogo{
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 100%;
    box-shadow: 5px 6px 6px #000000cd;
}

h2{
    font-size: 1.5em;
    color: rgb(58, 0, 112);
}
img.side{
    float: right;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(58, 0, 112);
}

a:hover{
    text-decoration: underline;
    color: rgb(58, 0, 112);
}